/Umbraco_V_1/bin
/Umbraco_V_1/obj
/Umbraco.Helpers_V2/bin
/Umbraco.Helpers_V2/obj
/Umbraco_V_1/App_Data/Logs
/Umbraco_V_1/App_Data/TEMP
/InterfaceBooster_ServerInstance/environment
/InterfaceBooster_ServerInstance/runtime
/Umbraco_Playground/App_Data/Logs
/Umbraco_Playground/App_Data/NuGetBackup
/Umbraco_Playground/bin/
/Umbraco_Playground/obj/
/Umbraco_Playground/App_Data/cache

f
