@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    if (Session["CustomerId"] == null)
    {
        foreach (DynamicPublishedContent item in CurrentPage.ContentSet)
        {
            if (item.Name == "Sign In")
            {
                Response.Redirect(String.Format("{0}?caller={1}", item.UrlAbsolute(), CurrentPage.Id));
                return;
            }
        }
    }
    Layout = "Master.cshtml";
}
<div class="container" style="background-color:white;height:600px">
	<div class="col-lg-12" >
		<div class="abstract">
			<h1>@CurrentPage.pageTitle</h1>
			@CurrentPage.explanations
		</div>
		@Html.Action("ShowForm", "CustomerProfileSurface")
	</div>
</div>
		