<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT address ANY>
<!ATTLIST address id ID #REQUIRED>
<!ELEMENT addressCollection ANY>
<!ATTLIST addressCollection id ID #REQUIRED>
<!ELEMENT contactFormula ANY>
<!ATTLIST contactFormula id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT list ANY>
<!ATTLIST list id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsOverview ANY>
<!ATTLIST newsOverview id ID #REQUIRED>
<!ELEMENT searchResults ANY>
<!ATTLIST searchResults id ID #REQUIRED>

]>
<root id="-1">
  <home id="1054" key="efa908a1-4746-44d8-8e48-2f73858bc37c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-18T15:08:55" updateDate="2016-08-26T17:08:38" nodeName="Home Page" urlName="home-page" path="-1,1054" isDoc="" nodeType="1053" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1052" nodeTypeAlias="home">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <umbracoNaviHide>0</umbracoNaviHide>
    <bodyText><![CDATA[<p><strong>You again?</strong></p>]]></bodyText>
    <pageImage><![CDATA[/media/1002/230216-fgdfgd1.jpg]]></pageImage>
    <home id="1059" key="30bafa28-7b21-43d3-af91-b9fb24b86b5c" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2016-08-18T18:57:23" updateDate="2016-10-05T12:10:40" nodeName="Hi There" urlName="hi-there" path="-1,1054,1059" isDoc="" nodeType="1053" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1052" nodeTypeAlias="home">
      <pageTitle><![CDATA[Hi There]]></pageTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Hi there!</p>]]></bodyText>
      <pageImage><![CDATA[/media/1004/230216-1.jpg]]></pageImage>
    </home>
    <home id="1060" key="e03062f3-dd0b-4adc-9bce-deed56303668" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2016-08-18T18:59:28" updateDate="2016-10-19T11:39:09" nodeName="Nobody Knows" urlName="nobody-knows" path="-1,1054,1060" isDoc="" nodeType="1053" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1052" nodeTypeAlias="home">
      <pageTitle><![CDATA[Nobody Knows]]></pageTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Pssst! Nobody knows who did it!</p>]]></bodyText>
      <pageImage><![CDATA[/media/1005/44.jpg]]></pageImage>
    </home>
    <home id="1062" key="5f70e114-2558-4f62-a7a8-4da0755ba8a2" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2016-08-18T19:43:00" updateDate="2016-08-19T18:02:10" nodeName="A Mistake?" urlName="a-mistake" path="-1,1054,1062" isDoc="" nodeType="1053" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1052" nodeTypeAlias="home">
      <pageTitle><![CDATA[A Mistake?]]></pageTitle>
      <bodyText><![CDATA[<p>Did I make a mistake?</p>]]></bodyText>
      <pageImage><![CDATA[/media/1007/fb_img_1450763336089.jpg]]></pageImage>
    </home>
    <home id="1063" key="a572c9b1-b311-46f2-abff-4485d441642d" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2016-08-18T19:44:53" updateDate="2016-08-19T18:02:43" nodeName="Raise And Shine!" urlName="raise-and-shine" path="-1,1054,1063" isDoc="" nodeType="1053" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1052" nodeTypeAlias="home">
      <pageTitle><![CDATA[Raise And Shine!]]></pageTitle>
      <bodyText><![CDATA[<p>Raise and shine!</p>]]></bodyText>
      <pageImage><![CDATA[/media/1008/130116-1.jpg]]></pageImage>
    </home>
    <newsOverview id="1069" key="57de4dbb-c212-455b-90ef-426aabf3d405" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2016-08-19T11:27:21" updateDate="2016-08-19T11:28:17" nodeName="News" urlName="news" path="-1,1054,1069" isDoc="" nodeType="1065" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1064" nodeTypeAlias="newsOverview">
      <pageTitle><![CDATA[News]]></pageTitle>
      <newsOverviewBodyText><![CDATA[<p>This is the place where all our news items will be displayed.</p>]]></newsOverviewBodyText>
      <news id="1076" key="88d85340-317c-432a-883b-f3f70eb3692b" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2016-08-19T12:14:38" updateDate="2016-08-19T12:58:35" nodeName="The Lady" urlName="the-lady" path="-1,1054,1069,1076" isDoc="" nodeType="1071" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1070" nodeTypeAlias="news">
        <pageTitle><![CDATA[She's A Lady]]></pageTitle>
        <newsText><![CDATA[<p><img style="width: 144.2622950819672px; height: 256px;" src="/media/1010/15-1456.jpg?width=144.2622950819672&amp;height=256" alt="" rel="1075" data-id="1075" /></p>
<p><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c  no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 0.85; z-index: 8675309; display: none; cursor: pointer; top: 21px; left: 18px;">Merken</span></p>]]></newsText>
        <newsAbstract><![CDATA[A beautiful white cat marching through a snow field - but no, it’s not what you think now.]]></newsAbstract>
      </news>
      <news id="1083" key="002afd9d-2ea7-4544-832d-58dc02c6f0e1" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2016-08-19T13:01:25" updateDate="2016-08-19T13:09:38" nodeName="The Wondering Kitten" urlName="the-wondering-kitten" path="-1,1054,1069,1083" isDoc="" nodeType="1071" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1070" nodeTypeAlias="news">
        <pageTitle><![CDATA[Whaz yu sai?]]></pageTitle>
        <newsText><![CDATA[<p><img style="width: 160px; height: 256px;" src="/media/1011/16-1cvxcvxcvx.jpg?width=160&amp;height=256" alt="" rel="1082" data-id="1082" /></p>
<p><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c  no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Merken</span></p>
<p><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c  no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 0.85; z-index: 8675309; display: none; cursor: pointer; top: 21px; left: 18px;">Merken</span></p>]]></newsText>
        <newsAbstract><![CDATA[A kitten still wondering about human behavior.]]></newsAbstract>
      </news>
      <news id="1085" key="3a171f79-5d06-4408-bb55-29482f6fcb7c" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2016-08-19T13:05:39" updateDate="2016-08-19T13:05:41" nodeName="Taking A Rest" urlName="taking-a-rest" path="-1,1054,1069,1085" isDoc="" nodeType="1071" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1070" nodeTypeAlias="news">
        <pageTitle><![CDATA[Taking A Rest]]></pageTitle>
        <newsText><![CDATA[<p><img style="width: 155.54430379746836px; height: 256px;" src="/media/1012/29022016-1.jpg?width=155.54430379746836&amp;height=256" alt="" rel="1084" data-id="1084" /></p>
<p><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c  no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Merken</span></p>]]></newsText>
        <newsAbstract><![CDATA[A red cat hang over a fence waiting for new energy to come.]]></newsAbstract>
      </news>
    </newsOverview>
    <contactPage id="1094" key="3ba6018c-db1c-4063-b927-5f4af7ad1959" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2016-08-19T14:43:07" updateDate="2016-08-19T14:43:07" nodeName="Contact Us" urlName="contact-us" path="-1,1054,1094" isDoc="" nodeType="1086" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1093" nodeTypeAlias="contactPage">
      <pageTitle><![CDATA[Contact Us For Information]]></pageTitle>
      <contactFormula id="1106" key="7b1382d4-5794-46dc-8059-ed1345bc2d01" parentID="1094" level="3" creatorID="0" sortOrder="0" createDate="2016-08-19T17:54:04" updateDate="2016-08-19T17:54:04" nodeName="Andreas Keller - 19.08.2016/17:54" urlName="andreas-keller-190820161754" path="-1,1054,1094,1106" isDoc="" nodeType="1087" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1092" nodeTypeAlias="contactFormula">
        <contactName><![CDATA[Andreas Keller]]></contactName>
        <emailFrom><![CDATA[andreas.kellerworkbooster.ch]]></emailFrom>
        <contactMessage><![CDATA[Es ist ein Kreuz]]></contactMessage>
      </contactFormula>
      <contactFormula id="1107" key="c25ac18e-d4bc-4859-830e-ba3a23a5c774" parentID="1094" level="3" creatorID="0" sortOrder="1" createDate="2016-08-19T17:54:16" updateDate="2016-08-19T17:54:16" nodeName="Roger Guillet - 19.08.2016/17:54" urlName="roger-guillet-190820161754" path="-1,1054,1094,1107" isDoc="" nodeType="1087" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1092" nodeTypeAlias="contactFormula">
        <contactName><![CDATA[Roger Guillet]]></contactName>
        <emailFrom><![CDATA[roger.guilletworkbooster.ch]]></emailFrom>
        <contactMessage><![CDATA[auf dieser Welt]]></contactMessage>
      </contactFormula>
    </contactPage>
    <searchResults id="1110" key="a1ea0c73-fbc5-4ded-bbf0-5a7b14b80339" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2016-08-25T14:35:43" updateDate="2016-08-25T16:05:32" nodeName="Search Results" urlName="search-results" path="-1,1054,1110" isDoc="" nodeType="1109" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1108" nodeTypeAlias="searchResults">
      <pageTitle><![CDATA[Search Results]]></pageTitle>
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="SearchResults" />
<p> </p>
<p> </p>]]></bodyText>
    </searchResults>
    <list id="1140" key="43660c81-4c53-4a12-aac5-9aad01c176b5" parentID="1054" level="2" creatorID="0" sortOrder="8" createDate="2016-10-05T12:14:15" updateDate="2016-10-05T12:14:15" nodeName="This Is The List" urlName="this-is-the-list" path="-1,1054,1140" isDoc="" nodeType="1139" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="1138" nodeTypeAlias="list">
      <pageTitle><![CDATA[This Is The List]]></pageTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
    </list>
  </home>
  <addressCollection id="1125" key="89d2d718-ad02-4cba-bd98-d39cf38c84ee" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-08-26T11:46:56" updateDate="2016-08-26T11:52:28" nodeName="Addresses" urlName="addresses" path="-1,1125" isDoc="" nodeType="1123" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="0" nodeTypeAlias="addressCollection">
    <address id="1126" key="26b5fa04-1455-4372-86e7-713c4ed63ddf" parentID="1125" level="2" creatorID="0" sortOrder="0" createDate="2016-08-26T11:48:26" updateDate="2016-08-26T11:48:26" nodeName="ADR000001" urlName="adr000001" path="-1,1125,1126" isDoc="" nodeType="1121" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="0" nodeTypeAlias="address">
      <lastname><![CDATA[Keller]]></lastname>
      <company><![CDATA[Workbooster GmbH]]></company>
      <firstname><![CDATA[Andreas]]></firstname>
      <password><![CDATA[Sacco&Vanzetti]]></password>
      <customerId><![CDATA[123456789]]></customerId>
    </address>
    <address id="1127" key="79c91107-de41-46cb-8fc4-df43e0454f20" parentID="1125" level="2" creatorID="0" sortOrder="1" createDate="2016-08-26T11:49:35" updateDate="2016-08-26T11:50:35" nodeName="ADR000002" urlName="adr000002" path="-1,1125,1127" isDoc="" nodeType="1121" creatorName="Andreas Keller" writerName="Andreas Keller" writerID="0" template="0" nodeTypeAlias="address">
      <lastname><![CDATA[Guillet]]></lastname>
      <company><![CDATA[Workbooster GmbH]]></company>
      <firstname><![CDATA[Roger]]></firstname>
      <password><![CDATA[Biber]]></password>
      <customerId><![CDATA[9887654321]]></customerId>
    </address>
  </addressCollection>
</root>